
<h2><strong>Project Details</strong></h2>
<%= @project.project_name%>
<br />
<%= @project.description%>

<p><%= link_to 'Edit', edit_project_path(@project.id) %></p>
<p><%= link_to 'Delete', project_path(@project.id), method: :delete, data: {confirm: "Are You Sure you want to delete this project?"} %></p>
<p><%= link_to 'All projects', projects_path%></p>

