
<div class="container py-3 my-5 bg_container" id="project_show_container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2><strong>Project Detail</strong></h2>
            <hr class="my-4">
        </div>
    </div>
    <div class="text-center">
        <p>Project Name: <%= @project.project_name%></p>
        </p>Project Description: <%= @project.description%></p>
        <p>Creator: <%= @project.user_id%></p>
        <p>Assigned to developer: &nbsp;<%= @project.dev_id%></p>
        <p>Assigned to Qa: &nbsp;<%= @project.qa_id%></p>
    </div>

    <div class="py-3">    
        <p class="text-center">
        <% if can? :update, @project %>
            <%= link_to 'Edit', edit_project_path(@project.id), class:"btn btn-outline-success" %>
        <% end %>

        <% if can? :destroy, @project %>
        <%= link_to 'Delete', project_path(@project.id), method: :delete, data: {confirm: "Are You Sure you want to delete this project?"}, class:"btn btn-outline-danger" %>
        <% end %>
        <%= link_to 'All projects', projects_path, class:"btn btn-outline-primary"%>
        </p>
    </div>
</div>
