
<div class="container py-3 my-5 bg_container">
  <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2><strong>Log in to My Account</strong></h2>
            <hr class="my-4">
        </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <%= f.label :email%>
        <div class="form-group py-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        
        <%= f.label :password%>
        <div class="form-group py-2">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="my-3">
          <p class="text-center">
            <% if devise_mapping.rememberable? %>
              <%= f.label :remember_me, class:"form-check-label"%>
              <%= f.check_box :remember_me, class:"form-check-input"%>
            <% end %>
          </p>
        </div>
        <p class="text-center">
          <%= f.submit "Log in", class: "btn btn-outline-primary" %>
        </p>
     <% end %>

      <%= render "devise/shared/links"%>
    </div>
  </div>
  </div>
</div>
