<div class="row py-3 my-5 text-center">
    <h2><strong>All Bugs</strong></h2>
</div>

<div class="row">
  <% if @bugs.exists? %>
      <% @bugs.each do |bug|%>
          <div class="col-sm-6 py-3">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"><%= truncate(bug.title, length: 45)%></h5>
                      <p class="card-text"><%= truncate(bug.description, length: 45)%></p>
                      <%= link_to 'Read more', bug_path(bug), class:"btn btn-outline-primary" %>
                  </div>
              </div>
          </div>
      <% end %>        
  <% end %>
</div>

<p>
    <% if can? :create, Bug %>
        <%= link_to 'Create a new Bug', new_bug_path, class: "btn btn-outline-success" %> |
    <% end %>
    <%= link_to 'Home', root_path, class: "btn btn-outline-primary" %>
</p>



