<h2>Bugs Detail</h2>

<p><strong>Title: </strong><%= @bug.title%></p>
<p><strong>Description: </strong><%= @bug.description%></p>
<p><strong>Bug Type: </strong><%= @bug.bug_type%></p>
<p><strong>Feature Status: </strong><%= @bug.feature_status%></p>
<p><strong>Bug Status: </strong><%= @bug.bug_status%></p>
<p><strong>Deadline: </strong><%= @bug.deadline%></p>
<%= image_tag @bug.image if @bug.image.attached? %>

<p><%= link_to 'Edit', edit_bug_path(@bug.id) %></p>
<p><%= link_to 'Delete', bug_path(@bug.id), method: :delete, data: {confirm: "Are You Sure you want to delete this project?"} %></p>
<p><%= link_to 'All Bugs', bugs_path%></p>

